.app {
    background-color: whitesmoke;
    width: 675px;
    height: 675px;
    margin: auto;
    margin-top: 15px;  
}

.todo-list {
   background-color: grey;
    width: 600px;
    height: auto;
    margin: auto;
    box-shadow: 5px 10px 15px #5f5e5e, 5px 10px 35px lavender;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: right;
  justify-content: space-between;
}
button {
  color: rgb(163, 13, 13);
  background: #fff;
  display: flex;
  align-items:right;  
}